.donutImg {
    display: flex;
    margin: 20px auto;
    border-radius: 30px;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 6px;
    background-color: rgb(255, 255, 255);
    opacity: 95%;
}