<h1 class="title">DONUTS AND DEVS</h1>
<br />
<sprk-accordion class="innerContent">
  <sprk-accordion-item
    title="Donuts"
    additionalClasses="sprk-u-mbs"
    additionalHeadingClasses="sprk-b-TypeDisplaySeven"
    idString="accordion-item-1"
    analyticsString="object.action.event"
  >
    <p>
      <a href="/donuts">back</a>
      <router-outlet></router-outlet>
    </p>
  </sprk-accordion-item>

  <sprk-accordion-item
    title="Hall of Famers"
    idString="accordion-item-2"
    analyticsString="object.action.event"
    additionalHeadingClasses="sprk-b-TypeDisplaySeven"
  >
    <p>
      <app-people></app-people>
    </p>
  </sprk-accordion-item>
</sprk-accordion>

