<sprk-accordion>
    <sprk-accordion-item
      title="{{myPerson.firstName}} {{myPerson.lastName}}"
      additionalClasses="sprk-u-mbs"
      additionalHeadingClasses="sprk-b-TypeDisplaySeven"
      idString="accordion-item-1"
      analyticsString="object.action.event"
    >
      <div>
        {{myPerson.year}} -- Known for: {{myPerson.innovation}}
        <button
          [hidden]="editing"
          *ngIf="!editing"
          (click)="editingInnovation()"
          variant="tertiary"
          idString="button-tertiary"
          sprkButton
        >
          Edit
        </button>
        <br />
        <input
          [hidden]="!editing"
          *ngIf="editing"
          type="text"
          placeholder="Edit innovation"
          [(ngModel)]="innovationEdit"
        />
        <button
          [hidden]="!editing"
          *ngIf="editing"
          (click)="editInnovation(myPerson); cancelEditInnovation()"
          variant="tertiary"
          idString="button-tertiary"
          sprkButton
        >
          Submit
        </button>
        <button
          [hidden]="!editing"
          *ngIf="editing"
          (click)="cancelEditInnovation()"
          variant="tertiary"
          idString="button-tertiary"
          sprkButton
        >
          Cancel
        </button>
    </div>
    </sprk-accordion-item>
  </sprk-accordion>
